.diary_list {
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #ddd;
    transform: scale(1.02);
  }
  p {
    margin-top: 10px;
  }
  .diary_title {
    font-size: 20px;
    font-weight: bold;
  }
  .diary_author {
    a {
      text-decoration: underline;
    }
  }
  .diary_views {
    font-size: 14px;
  }
}