.search_container {
  form {
    input {
      width: 70% !important;
      height: 40px !important;
      margin: 0 auto !important;
    }
    label {
      margin-bottom: 50px;
    }
  }
  #search_result {
    h1 {
      font-size: 20px;
      font-weight: bold;
      color: tomato;
      margin-top: 50px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}
