@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-family: 'Gugi', cursive;
    font-size: 1.5em;
  }

  nav {
    ul {
      display: flex;
      :first-child {
        border-left: none;
      }
      li {
        margin-left: 5px;
        padding-left: 5px;
        border-left: 1px solid #222;
        font-size: 16px;
        a {
          color: #222;
        }
      }
    }
  }
}