extends ../config/base.pug

block content 
   form(method="POST")
      input(type="text", name="title", value=diary.title)
      textarea(name="memo", cols="30", rows="10", minLength="20")=diary.memo
      input(type="submit", value="Save")