extends ../config/base.pug
include ../mixins/diaryList

block content
  h1.msg "오늘 하루를 기록해보세요!"
  if(errorMessage)
    p=errorMessage
  each diary in diaries 
    +diaryList(diary)
  else 
    p 아직 다이어리가 없습니다. 작성해보세요!