extends ../config/base.pug
include ../mixins/diaryList

block content 
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(type="search", name="title", placeholder="제목으로 검색")
  if searchDiary
    div#search_result
      h1 검색결과
       +diaryList(searchDiary)