extends ../base
include ../mixins/diaryList

block content 
  if user.avatarUrl 
    img(src="/" + user.avatarUrl, style="width: 150px; height: 150px;")
  h1 #{user.nickname}님의 프로필
  p
    a(href=`${user.id}/edit`) 회원정보 수정하기 &rarr;
  if !user.socialOnly
    p
      a(href=`${user.id}/changePassword`) 비밀번호 수정하기 &rarr;
  hr
  each diary in user.diaries 
   +diaryList(diary)
  else 
    li 현재 등록한 다이어리가 없습니다. 등록해보세요!
